.header {
  padding: 50px 100px;
  text-align: center;
  background: #37e215;
  font-size: 32px;
  font-family: sans-serif;
  color: #18040f; }

.main {
  background: #90e0ee;
  padding: 100px;
  font-size: 38px;
  font-family: sans-serif;
  text-align: center;
  color: #18040f; }

.footer {
  background: #7ba0c5;
  padding: 30px;
  font-size: 32px;
  color: #ffffff;
  font-family: sans-serif;
  text-align: center; }
